.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formulario div {
  display: flex;
}

.link {
  /* background-color: red; */
  width: 260px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
